{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="keywords" content="">

    <title>Sajan Rai</title>

    <!-- Styles -->
    <link href="{% static '/css/page.min.css' %}" rel="stylesheet">
    <link href="{% static '/css/style.css' %}" rel="stylesheet">


</head>

<body>


    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark" data-navbar="fixed">
        <div class="container">

            <div class="navbar-left">
                <button class="navbar-toggler" type="button">&#9776;</button>
                <a class="navbar-brand" href="#">
                    <h1 style="color: lightslategray;">Sajan Rai</h1>



                    <img class="logo-light" src="../assets/img/logo-light.png" alt="logo">
                </a>
            </div>

            <section class="navbar-mobile">
                <nav class="nav nav-navbar ml-auto">
                    <a class="nav-link" href="{% url 'about' %}">About us</a>
                    <a class="nav-link" href="{% url 'flights' %}">Flights</a>
                    <a class="nav-link" href="{% url 'addpassenger' %}">Book</a>
                    <a class="nav-link" href="{% url 'contact' %}">Contact</a>
                    <a class="nav-link" href="#">profile({{ user.username }})</a>
                    <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                </nav>
            </section>

        </div>
    </nav>
    <!-- /.navbar -->


    <!-- Header -->
    <header class="header h-fullscreen" style="background-image: url({% static 'img/new.JPG' %})">
        <div class="overlay opacity-95" style="background-image: linear-gradient(135deg, #fff 0%, #fff 40%, transparent 100%);"></div>
        <div class="container">
            <div class="row align-items-center h-100">

                <div class="col-md-8 col-lg-6">
                    <h1 class="display-4"><strong>Hi, I am Sajan Rai</strong></h1>
                    <p class="lead-2 mt-5 mb-8">A Python|DevOps engineer with keen interest in machine learning,block chain and more.</p>
                    <p class="gap-xy">
                        <a class="btn btn-xl btn-round btn-primary mw-200" href="#">Check in</a>
                        <a class="btn btn-xl btn-round btn-outline-primary mw-200" href="#">Explore</a>
                    </p>
                </div>

            </div>
        </div>
    </header>
    <!-- /.header -->


    <!-- Main Content -->
    <main class="main-content">

        <!--
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      | Products
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      !-->
        <section class="section">
            <div class="container">
                <header class="section-header">

                    <h2>Tech Stacks</h2>
                    <hr>
                    <p class="lead">These are some of the Tech Stacks I employ</p>
                </header>


                <div class="row gap-y">

                    <div class="col-6 col-md-4 col-xl-2">
                        <a class="card card-body border hover-shadow-6 text-center py-6" href="#">
                            <p style="color: #78a300"><img src="{% static 'img/django.PNG' %}" style="height:60px; "></p>
                        </a>
                    </div>


                    <div class="col-6 col-md-4 col-xl-2">
                        <a class="card card-body border hover-shadow-6 text-center py-6" href="#">
                            <p style="color: #eb4a62"><img src="{% static 'img/python.PNG' %}" style="height:60px;"></p>
                        </a>
                    </div>


                    <div class="col-6 col-md-4 col-xl-2">
                        <a class="card card-body border hover-shadow-6 text-center py-6" href="#">
                            <p style="color: #f69a3e"><img src="{% static 'img/flask.PNG' %}"style="height:60px;"></p>
                        </a>
                    </div>


                    <div class="col-6 col-md-4 col-xl-2">
                        <a class="card card-body border hover-shadow-6 text-center py-6" href="#">
                            <p style="color: #f0c93e"><img src="{% static 'img/skss.PNG' %}" style="height:60px;"></p>
                        </a>
                    </div>


                    <div class="col-6 col-md-4 col-xl-2">
                        <a class="card card-body border hover-shadow-6 text-center py-6" href="#">
                            <p style="color: #37b8af;"><img src="{% static 'img/tfr.PNG' %}"style="height:60px;"></p>
                        </a>
                    </div>


                    <div class="col-6 col-md-4 col-xl-2">
                        <a class="card card-body border hover-shadow-6 text-center py-6" href="#">
                            <p style="color: #2faabc"><img src="{% static 'img/html.PNG' %}"style="height:60px;"></p>
                            
                        </a>
                    </div>
                    <div class="col-6 col-md-4 col-xl-2">
                        <a class="card card-body border hover-shadow-6 text-center py-6" href="#">
                            <p style="color: #2faabc"><img src="{% static 'img/cs.PNG' %}" style="height:60px;"></p>
                            
                        </a>
                    </div>
                    <div class="col-6 col-md-4 col-xl-2">
                        <a class="card card-body border hover-shadow-6 text-center py-6" href="#">
                            <p style="color: #2faabc"><img src="{% static 'img/js.PNG' %}"style="height:60px;"></p>
                            
                        </a>
                    </div>
                   
                   <div class="col-6 col-md-4 col-xl-2">
                        <a class="card card-body border hover-shadow-6 text-center py-6" href="#">
                            <p style="color: #2faabc"><img src="{% static 'img/sql.PNG' %}"style="height:60px;"></p>
                            
                        </a>
                    </div>


                    <div class="col-6 col-md-4 col-xl-2">
                        <a class="card card-body border hover-shadow-6 text-center py-6" href="#">
                            <p style="color: #2faabc"><img src="{% static 'img/post.PNG' %}"style="height:60px;"></p>
                            
                        </a>
                    </div>

                    <div class="col-6 col-md-4 col-xl-2">
                        <a class="card card-body border hover-shadow-6 text-center py-6" href="#">
                            <p style="color: #2faabc"><img src="{% static 'img/git.PNG' %}"style="height:60px;"></p>
                            
                        </a>
                    </div>
                    <div class="col-6 col-md-4 col-xl-2">
                        <a class="card card-body border hover-shadow-6 text-center py-6" href="#">
                            <p style="color: #2faabc"><img src="{% static 'img/github.PNG' %}"style="height:60px;"></p>
                            
                        </a>
                    </div>

                    <div class="col-6 col-md-4 col-xl-2">
                        <a class="card card-body border hover-shadow-6 text-center py-6" href="#">
                            <p style="color: #2faabc"><img src="{% static 'img/docker.PNG' %}"style="height:60px;"></p>
                            
                        </a>
                    </div>

                    <div class="col-6 col-md-4 col-xl-2">
                        <a class="card card-body border hover-shadow-6 text-center py-6" href="#">
                            <p style="color: #2faabc"><img src="{% static 'img/travis.PNG' %}"style="height:60px;"></p>
                            
                        </a>
                    </div>

                    <div class="col-6 col-md-4 col-xl-2">
                        <a class="card card-body border hover-shadow-6 text-center py-6" href="#">
                            <p style="color: #2faabc"><img src="{% static 'img/redis.PNG' %}"style="height:60px;"></p>
                            
                        </a>
                    </div>

                    <div class="col-6 col-md-4 col-xl-2">
                        <a class="card card-body border hover-shadow-6 text-center py-6" href="#">
                            <p style="color: #2faabc"><img src="{% static 'img/rabbit.PNG' %}"style="height:60px;"></p>
                            
                        </a>
                    </div>
                    <div class="col-6 col-md-4 col-xl-2">
                        <a class="card card-body border hover-shadow-6 text-center py-6" href="#">
                            <p style="color: #2faabc"><img src="{% static 'img/ec2.PNG' %}"style="height:60px;"></p>
                            
                        </a>
                    </div>

                    <div class="col-6 col-md-4 col-xl-2">
                        <a class="card card-body border hover-shadow-6 text-center py-6" href="#">
                            <p style="color: #2faabc"><img src="{% static 'img/light.PNG' %}"style="height:60px;"></p>
                            
                        </a>
                    </div>





                </div>
            </div>
        </section>


        <!--
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      | Video
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      !-->
        <section class="section text-white" style="background-image: url({% static 'img/ne.JPG' %})" data-overlay="3">
            <div class="container">
                <header class="section-header">
                    <hr>
                    <p class="lead-3" style="background-color: rgba(0, 0, 0, 0.5);">Greetings, everyone. I am readily available to undertake freelance projects. With many years of experience in web development and backend development, I have recently transitioned to the role of a DevOps engineer. My proficiency lies in transforming ideas and visions into meaningful and valuable products. Please do not hesitate to contact me.</p>
                </header>



            </div>
        </section>


        <!--
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      | Features
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      !-->
        <section class="section">
            <div class="container">

                <div class="row gap-y align-items-center">
                    <div class="col-md-5 ml-auto">
                        <h4>Web Application/Website Development</h4>
                        <h5>I am a software developer with years of experience in both frontend and backend technologies. I provide custom web application development services that cater to the unique needs of my clients, delivering top-notch performance, security, and user experience. I work closely with clients throughout the development process to ensure their vision is realized, adhering to industry standards and best practices. My skills and experience make me a reliable partner for any web application development project, from complex  platforms to simple web applications.</h7>

                    </div>

                    <div class="col-md-5 text-center order-md-first">
                        <img src="{% static 'img/web.PNG' %}" alt="...">
                    </div>
                </div>


                <hr class="my-8">


                <div class="row gap-y align-items-center">
                    <div class="col-md-5 mr-auto">
                        <h4>Why book online ?</h4>
                        <p>When you book on ourairlines.com, you will have the world right at your fingertips. </p>
                        <p>Find great fares.</p>
                        <p>
                            Book anytime, anywhere.
                        </p>
                        <p>Convenient payment options.</p>
                        <p>
                            Earn bonus on every booking.
                        </p>
                    </div>

                    <div class="col-md-5">
                        <img src="{% static 'img/i.JPG'%}" alt="...">
                    </div>
                </div>


            </div>
        </section>


        <!--
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      | Signup
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      !-->
        <section class="section bg-gray">
            <div class="container">

                <h3 class="text-center fw-200"><strong>Join</strong> Our proud partners</h3>


            </div>
        </section>


        <!--
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      | Partner
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      !-->
        <section class="section bg-gray">
            <div class="container">
                <div data-provide="slider" data-autoplay="true" data-slides-to-show="4">
                    <div><img src="{% static 'img/p1.PNG' %}" alt="partner 1"></div>
                    <div><img src="{% static 'img/p2.PNG' %}" alt="partner 2"></div>
                    <div><img src="{% static 'img/p3.PNG' %}" alt="partner 3"></div>
                    <div><img src="{% static 'img/p4.PNG' %}" alt="partner 4"></div>
                    <div><img src="{% static 'img/p5.PNG' %}" alt="partner 5"></div>
                    <div><img src="{% static 'img/p6.PNG' %}" alt="partner 6"></div>
                </div>

            </div>
        </section>

    </main>


    <!-- Footer -->
    <footer class="footer text-white bg-img bg-fixed" style="background-image: url(../assets/img/vector/9.jpg)" data-overlay="8">
        <div class="container py-7">
            <div class="row gap-y">

                <div class="col-6 col-md-4 col-xl-2">
                    <h6 class="mb-4"><strong>Company</strong></h6>
                    <div class="nav flex-column">
                        <a class="nav-link" href="#">About us</a>
                        <a class="nav-link" href="#">Careers</a>
                        <a class="nav-link" href="#">Press</a>

                    </div>
                </div>

                <div class="col-6 col-md-4 col-xl-2">
                    <h6 class="mb-4"><strong>Product</strong></h6>
                    <div class="nav flex-column">

                        <a class="nav-link" href="#">Success Stories</a>
                        <a class="nav-link" href="#">Tickect Pricing</a>
                        <a class="nav-link" href="#">Security</a>
                    </div>
                </div>

                <div class="col-6 col-md-4 col-xl-2">
                    <h6 class="mb-4"><strong>Resources</strong></h6>
                    <div class="nav flex-column">
                        <a class="nav-link" href="#">Freebies</a>
                        <a class="nav-link" href="#">Partners</a>
                        <a class="nav-link" href="#">Events</a>
                        <a class="nav-link" href="#">Assets</a>
                    </div>
                </div>

                <div class="col-6 col-md-4 col-xl-2">
                    <h6 class="mb-4"><strong>Community</strong></h6>
                    <div class="nav flex-column">
                        <a class="nav-link" href="#">Blog</a>
                        <a class="nav-link" href="#">Forums</a>
                        <a class="nav-link" href="#">Meetups</a>
                        <a class="nav-link" href="#">For Investors</a>
                    </div>
                </div>

                <div class="col-6 col-md-4 col-xl-2">
                    <h6 class="mb-4"><strong>Support</strong></h6>
                    <div class="nav flex-column">
                        <a class="nav-link" href="#">Help Center</a>
                        <a class="nav-link" href="#">Guides</a>
                        <a class="nav-link" href="#">API</a>
                        <a class="nav-link" href="#">FAQ</a>
                    </div>
                </div>

                <div class="col-6 col-md-4 col-xl-2">
                    <h6 class="mb-4"><strong>Extras</strong></h6>
                    <div class="nav flex-column">
                        <a class="nav-link" href="#">Podcast</a>

                        <a class="nav-link" href="#">Licenses</a>
                        <a class="nav-link" href="#">Become Affiliate</a>
                    </div>
                </div>

            </div>
        </div>

        <hr>

        <div class="container">
            <div class="row gap-y">

                <div class="col-md-6 text-center text-md-left">
                    <small class="opacity-70">© 2020 our airlines. All rights reserved.</small>
                </div>

                <div class="col-md-6 text-center text-md-right">
                    <div class="social">
                        <a class="social-facebook" href="#"><i class="fa fa-facebook"></i></a>
                        <a class="social-twitter" href="#"><i class="fa fa-twitter"></i></a>
                        <a class="social-youtube" href="#"><i class="fa fa-youtube"></i></a>
                        <a class="social-instagram" href="#"><i class="fa fa-instagram"></i></a>
                    </div>
                </div>

            </div>
        </div>
    </footer>
    <!-- /.footer -->


    <!-- Scripts -->
    <script src="{% static '/js/page.min.js' %}"></script>
    <script src="{% static '/js/script.js' %}"></script>

</body>

</html>